<h1>All Running Groups</h1>
<button type="button" name="button" ng-hide="groupsIndex.groupAdmin" ui-sref="groupsNew">Create a running group</button>

<div class="container-fluid">
  <div class="row">


    <div class="index-groups">
      <div ng-repeat="group in groupsIndex.all track by $index" ng-model="groupsIndex.all" class="col-md-3 index-info-card">
        <!-- Image and Header -->

        <div class="dashImage caption index-group-item">
          <a ui-sref="groupsShow({ id: group._id })">
            <img class="group-image" ng-src="{{group.image}}" alt="Group Image">
            <h2 class="imageHeader">{{ group.name }}</h2></a>
          </div>
          <!-- Extra Information underneath  -->
          <div class="group-info">
            {{ group.name }}
          </div>
        </div>
      </div>


      <!-- <button class="btn btn-primary" type="button" name="button" ng-click="groupsIndex.join(group, $event, $index)" ng-if="group.members.indexOf(main.user.id) === -1">Join</button>

      <button class="btn btn-danger" type="button" name="button"
      ng-click="groupsIndex.openLeave(group, $event, $index, groupsIndex.currentUserId)"
      ng-if="group.members.indexOf(main.user.id) !== -1 && group.admin._id !== groupsIndex.currentUserId">
      Leave
    </button> -->





  </div>
</div>
