<h1>Groups Index</h1>

<h2>Running Groups</h2>

<button type="button" name="button" ui-sref="groupsNew">Create a running group</button>

<div ng-repeat="group in groupsIndex.all">
  <a ui-sref="groupsShow({ id: group._id })"><h3>{{ group.name }}</h3></a>
  <div class="">
    <h4>Run Details</h4>
    <p>Day: {{ group.schedule[0].day }}</p>
    <p>Start Time: {{ group.schedule[0].startTime }}</p>
    <p>Location: {{ group.schedule[0].location }}</p>
    <p>Runners: {{ group.members.length }}/{{ group.schedule[0].maxRunners }}</p>
  </div>
  <button type="button" name="button" ng-click="groupsIndex.join(group)">Join</button>
</div>
