<h1>Create your Runch Group</h1>

<form ng-submit="groupsNew.create()" method="post">

  <div class="form-group-create">
    <input class="form-control-create" type="text" name="name" ng-model="groupsNew.group.name" placeholder="Group Name">
  </div>

<div class="form-group-create">
    <input class="form-control-group"
         ng-model="groupsNew.group.schedule.date"
         ng-model-options="{ updateOn: 'blur' }"
         placeholder="Select a date and time..."
         format="llll"
         min-view="month"
         start-view="day"
         min-date="groupsNew.minDateMoment"
         max-date="groupsNew.maxDateMoment"
         required="true"
         moment-picker="groupsNew.group.schedule.date">
  </div>

  <div class="form-group-create">
    <input class="form-control-create" type="text" name="meetingPoint" ng-model="groupsNew.group.schedule.meetingPoint" placeholder="Meeting Point" required>
  </div>

  <div class="form-group-create">
    <input class="form-control-create" type="text" name="location" ng-model="groupsNew.group.schedule.location" placeholder="Postcode"
      maxlength="8" required>
  </div>

  <div class="form-group-create">
    <input class="form-control-create" type="text" name="distance" ng-model="groupsNew.group.schedule.distance" placeholder="Distance"
      maxlength="5">
  </div>

  <div class="form-group-create">
    <input class="form-control-create" type="text" name="description" ng-model="groupsNew.group.schedule.description" placeholder="Description">
  </div>

  <div class="form-group-create">
    <input class="form-control-create"  type="number" name="maxRunners" ng-model="groupsNew.group.schedule.maxRunners" placeholder="Max Runners"
      min="2" max="20" required>
  </div>

  <div class="form-group-create">
    <input class="form-control-create"  type="text" name="imageLink" ng-model="groupsNew.group.image" placeholder="Image URL">
  </div>
<!--
  <input type="submit" name="" value="Add"> -->
</form>
