<!-- <h1>Groups Show</h1> -->

<h1 class="groupShowName">{{ groupsShow.group.name }}</h1>
<h4 class="groupAdminTitle">Group admin: </h4>
<p class="adminUSer">{{ groupsShow.group.admin.username }}</p>
<div class="map-styling">
<google-map location="{{ groupsShow.group.schedule[0].location }}"></google-map>
</div>

<h2>Group Information</h2>
<div class="groupShowCon">
  <div class="row">
    <div class="col-md-12" ng-repeat="schedule in groupsShow.group.schedule">
      <h4>Day:</h4><p>{{ schedule.day }}</p>
      <h4>Date:</h4><p>{{ schedule.viewableDate }}</p>
      <h4>Start Time:</h4><p> {{ schedule.startTime }}</p>
      <h4>Location:</h4><p>{{ schedule.location }}</p>
      <h4>Runners:</h4><p>{{ groupsShow.group.members.length }}/{{ schedule.maxRunners }}</p></div>
    <!-- <div class="col-md-6"></div> -->

  </div>
</div>

<button class="btn btn-primary" type="button" name="button" ng-click="groupsShow.join()" ng-hide="groupsShow.member" >Join Group</button>
<h2>Group members:</h2>
<div ng-repeat="member in groupsShow.group.members track by $index" ng-model="groupsShow.group.members">
  <a ui-sref="usersShow({ id: member._id })">{{ member.username }}</a>
</div>

<form ng-submit="groupsShow.postComment()" method="post">
  <h2>Join the discussion</h2>
  <input type="text" name="comment" value="" placeholder="Your comment" ng-model="groupsShow.commentObject.comment">
  <input type="submit" name="" value="Post">
</form>

<div ng-repeat="comment in groupsShow.group.comments" ng-model="groupsShow.group.comments">
  <p>{{ comment.comment }}</p>
  <!-- <p>{{ comment.user }}</p> -->
  <p>Comment by: {{ comment.user.username }}</p>
 </div>

<a ng-show="groupsShow.currentUserId == groupsShow.group.admin" ui-sref="groupsEdit({ id: groupsShow.group._id })">Edit Group</a>

<button ng-show="groupsShow.currentUserId == groupsShow.group.admin" ng-click="groupsShow.delete(groupsShow.group)">Delete</button>
