<h1>Groups Show</h1>

<p>{{ groupsShow.group.name }}</p>
<button type="button" name="button" ng-click="groupsShow.join()" >Join Group</button>
<p>Group admin: {{ groupsShow.admin.username }}</p>
<div class="" ng-repeat="schedule in groupsShow.group.schedule">
  <p>Day: {{ schedule.day }}</p>
  <p>Date: {{ schedule.date }}</p>
  <p>Start Time: {{ schedule.startTime }}</p>
  <p>Location: {{ schedule.location }}</p>
  <p>Runners: {{ groupsShow.memberArray.length }}/{{ schedule.maxRunners }}</p>
</div>
<h3>Group members:</h3>
<div ng-repeat="member in groupsShow.memberArray track by $index" ng-model="groupsShow.memberArray">
  <a ui-sref="usersShow({ id: member._id })">{{ member.username }}</a>
</div>
<input type="text" name="" value="">
<div ng-repeat="comment in groupsShow.group.comments">
  <p>{{ comment.comment }}</p>
  <p>{{ comment.user }}</p>
  <p>Comment by: {{ comment.userDetails.username }}</p>
</div>

<a ng-show="groupsShow.currentUserId == groupsShow.group.admin" ui-sref="groupsEdit({ id: groupsShow.group._id })">Edit Group</a>

<button ng-show="groupsShow.currentUserId == groupsShow.group.admin" ng-click="groupsShow.delete(groupsShow.group)">Delete</button>
