<h1>Edit User</h1>
<form>

</form>






<!--
<form ng-submit="vm.update()">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" ng-model="vm.activity.name">
  </div>
  <div>
    <label for="image">Image</label>
    <input type="text" name="image" id="image" ng-model="vm.activity.image">
  </div>
  <div>
    <label for="location">Location</label>
    <input type="text" name="location" id="location" ng-model="vm.activity.location">
  </div>
  <input type="submit" value="Update Activity"/>
</form> -->
