<h1>Edit User</h1>
<form ng-submit="usersEdit.update()">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" ng-model="usersEdit.user.name">
  </div>

  <div>
    <label for="email">email</label>
    <input type="text" name="email" ng-model="usersEdit.user.email">
  </div>

  <div>
    <label for="gender">Gender</label>
    <input type="radio" name="gender" ng-model="usersEdit.user.gender" value="Male"> Male
    <input type="radio" name="gender" ng-model="usersEdit.user.gender" value="Female"> Female
  </div>

  <div>
    <label for="image">Image</label>
    <input type="text" name="image" ng-model="usersEdit.user.image">
  </div>

  <div>
    <label for="location">Location</label>
    <input type="text" name="location" ng-model="usersEdit.user.location">
  </div>

  <div>
    <label for="postcode">Postcode</label>
    <input type="text" name="postcode" ng-model="usersEdit.user.postcode">
  </div>

  <div>
    <label for="about">About</label>
    <textarea placeholder="Tell us about yourself!" name="about" ng-model="usersEdit.user.about"></textarea>
  </div>

  <input type="submit" value="Update User">
</form>
