<h1>Edit User</h1>
<form ng-submit="vm.update()">

  <div>
    <label for="username">Username</label>
    <input type="text" name="username" ng-model="vm.user.username">
  </div>

  <div>
    <label for="name">Name</label>
    <input type="text" name="name" ng-model="vm.user.name">
  </div>

  <div>
    <label for="email">email</label>
    <input type="text" name="email" ng-model="vm.user.email">
  </div>

  <div>
    <label for="gender">Gender</label>
    <input type="text" name="gender" ng-model="vm.user.gender">
  </div>

  <div>
    <label for="image">Image</label>
    <input type="text" name="image" ng-model="vm.user.image">
  </div>

  <div>
    <label for="location">Location</label>
    <input type="text" name="location" ng-model="vm.user.location">
  </div>

  <div>
    <label for="postcode">Postcode</label>
    <input type="text" name="postcode" ng-model="vm.user.postcode">
  </div>

  <div>
    <label for="about">About</label>
    <!-- <input type="textarea" rows="10" cols="10" > -->
    <textarea placeholder="Tell us about yourself!" name="about" ng-model="vm.user.about"></textarea>
  </div>

  <input type="submit" value="Update User">
</form>
