<!-- <h1>{{ main.user.name }}'s Profile</h1> Won't print {{ main.user.name }} if you're coming from a register route-->
<h1>Your Profile</h1> 
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img class="profile-pic" ng-src="{{ main.user.image }}">
    </div>
    <div class="col-md-4">
      <div class="profile-info">
        <h2>{{ main.user.username }}</h2>
        <p>Age: {{ main.user.age }}</p>
        <p>Gender: {{ main.user.gender }}</p>
        <p>Location: {{ main.user.location }}</p>
        <p>About: {{ main.user.about }}</p>
        <button type="button" ui-sref="usersEdit({ id: main.user._id })">Edit</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="user-groups" ng-repeat="group in main.user.groups">
        <a ui-sref="groupsShow({ id: group._id })">{{ group.name }}</a>
      </div>
    </div>
  </div>
</div>
