<div class="container-fluid">
  <div class="row">

    <div class="profile-info col-md-4">
      <img class="profile-image" src="{{ usersShow.user.image }}" alt="Profile Picture">
      <h1>{{ usersShow.user.name }}'s Profile</h1>
      <p>Name: {{ usersShow.user.name }}</p>
      <p>Age: {{ usersShow.user.age }}</p>
      <p>Gender: {{ usersShow.user.gender }}</p>
      <p>Location: {{ usersShow.user.location }}</p>
      <p>About: {{ usersShow.user.about }}</p>
    </div>

    <div class="user-groups col-md-8">
      <div class="group-item" ng-repeat="group in usersShow.user.groups">
        <a ui-sref="groupsShow({ id: group._id })"><img class="group-image" src="{{ group.image }}" alt="Group Image"></a><h2 class="imageHeader">{{ group.name }}</h2>
      </div>
    </div>



  </div>
</div>
