<div class="my-modals">
  <div class="modal-header">
    <h3 class="modal-title"><strong>Create a route</strong></h3>
  </div>
  <div class="modal-body">
    <gmap-draw-route location="{{ createRoute.location }}"
      data-patharray="createRoute.pathArray"
      data-pathundo="createRoute.undo"
      data-pathclear="createRoute.clear">
    </gmap-draw-route>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="createRoute.clear()">Clear Route</button>
    <button class="btn btn-primary" ng-click="createRoute.undo()">Undo Last</button>
    <button class="btn btn-primary" ng-click="createRoute.save()">Save Route</button>
    <button class="btn btn-primary" ng-click="createRoute.close()">Discard</button>
  </div>
</div>
