<div class="container-fluid">

  <div class="row">
    <div class="timetable col-md-5">
      <h2>Timetable</h2>
      <div ng-repeat="group in dashboard.upcomingArray  | orderBy : dashboard.orderBy track by $index">
        <h5><strong>{{ group.name }}</strong></h5>
        <p>{{ group.schedule[0].viewableDate }}</p>
        <p>{{ group.schedule[0].startTime }}</p>
        <p>{{ group.schedule[0].meetingPoint }}</p>
        <p>{{ group.schedule[0].location }}</p>
      </div>
    </div>

    <!-- {{ group.name }} -->
    <div class="dashImage ">
      <div class="dash-groups col-md-7">
        <h2>My Groups</h2>
        <div class="group-item" ng-repeat="group in dashboard.user.groups">
          <img class="group-image" src="{{ group.image }}">
          <a ui-sref="groupsShow({ id: group._id })"><h2 class="imageHeader">{{ group.name }}</h2></a>
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="hover"> -->
  <!--  More group info to go here -->
  <!-- <a ui-sref="groupsShow({ id: group._id })"><h2 class="imageHeader">{{ group.name }}</h2></a> -->

  <div class="row">
    <div class="owned-groups col-md-3">
      <h2>Owned Groups</h2>
      <div ng-repeat="group in dashboard.user.ownedGroups">
        <a ui-sref="groupsShow({ id: group._id })">{{ group.name }}</a>
      </div>
      <button class="dashCreateBtn" type="button" ng-hide="dashboard.user.ownedGroups.length" name="button" ui-sref="groupsNew">Create a RUNCH group</button>
    </div>


  <div class="dashImage">
    <div class="dash-groups col-md-9">
      <h2>Running Groups</h2>
      <div class="group-item" ng-repeat="group in dashboard.all">
          <img class="group-image" src="{{ group.image }}"><h2 class="imageHeader">{{ group.name }}</h2>
        <!-- <div class="hover">
          <!--  More group info to go here -->
          <!-- <a ui-sref="groupsShow({ id: group._id })">{{ group.name }}</a> -->
        </div>
      </div>
    </div>
  </div>
</div>
