<header>
  <a href="home">
  <img src="images/logo.png">
  </a>
</header>
<div id="video-overlay">

  <video id="bgvid" loop muted autoplay>
    <source src="http://tjshaw.co.uk/video/running.mp4" type="video/mp4">
    </video>
  </div>
  <!-- <h1>Login</h1> -->
  <form class="login" ng-submit="login.login()">
    <div class="form-group">
      <input class="form-control" type="email" name="email" ng-model="login.user.email" placeholder="Email">
    </div>
    <div class="form-group">
      <input class="form-control" type="password" name="password" ng-model="login.user.password" placeholder="Password">
    </div>
    <input class="form-button" type="submit" value="Runch Away">
  </form>
  <footer>
    <ul>
      <li> <img class="socialMediaBtn" src="images/facebook.png"></li>
      <li> <img class="socialMediaBtn" src="images/twitter.png"></li>
      <li> <img class="socialMediaBtn" src="images/instagram.png"></li>
      <li class="copyRight">&copy redpanda.com</li>
    </ul>
  </footer>
