<header>
  <a href="home">
  <img src="images/logo.png">
  </a>
</header>

<div id="video-overlay">
<video id="bgvid" loop muted autoplay>
<source src="http://tjshaw.co.uk/video/running.mp4" type="video/mp4">
</video>
</div>

<!-- <h1>Register</h1> -->
<form class="register" ng-submit="register.register()">
  <div class="form-group">
    <input class="form-control" type="text" name="username" ng-model="register.user.username" placeholder="Username">
  </div>
  <div class="form-group">
    <input class="form-control" type="email" name="email" ng-model="register.user.email" placeholder="Email">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="age" ng-model="register.user.age" placeholder="Age">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="location" ng-model="register.user.location" placeholder="Location">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="postcode" ng-model="register.user.postcode" placeholder="Postcode">
  </div>
  <div class="form-group">
    <input class="form-control" type="password" name="password" ng-model="register.user.password" placeholder="Password">
  </div>
  <div class="form-group">
    <input class="form-control" type="password" name="passwordConfirmation" ng-model="register.user.passwordConfirmation" placeholder="Password confirmation">
  </div>
  <input class="form-button" type="submit" value="Start Runching" />
</form>

<footer>
<ul>
  <li> <img class="socialMediaBtn" src="images/facebook.png"></li>
  <li> <img class="socialMediaBtn" src="images/twitter.png"></li>
  <li> <img class="socialMediaBtn" src="images/instagram.png"></li>
  <li class="copyRight">&copy redpanda.com</li>
</ul>
</footer>
