// Import all of your scss files here

@font-face {
  font-family: 'RunchFont';
  src: url('/fonts/RunchFont.eot');
  src: url('/fonts/RunchFont.woff2') format('woff2'),
  url('/fonts/RunchFont.woff') format('woff'),
  url('/fonts/RunchFont.ttf') format('truetype'),
  url('/fonts/RunchFont.svg#TypoRoundThinDemo') format('svg'),
  url('/fonts/RunchFont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Poppins');

html, body {
  margin: 0;
}

body {
  // font-family: 'RunchFont';
}

a {
  color: black;
  text-decoration: none
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4 {
  color: black;
  font-family: 'RunchFont';
  color: #8EB77B
}

p {
  font-family: 'Poppins', sans-serif;
}

.map-styling {
  width: 100%;
  height: 300px;
  display: inline-block;
  background-color: rgba(124,183,123,.5);
}

main {
  margin: 10px;
}

// *************Landing Page*********************

video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

#logo {
  width: 500px;
}

nav ul li {
  color: white;
  display: inline;
  font-size: 20px;
  text-decoration: none;
  font-family: 'RunchFont', serif;
  float: right;
  padding: 10px;
}

nav a {
  color: white;
  list-style: none;
  font-family: 'RunchFont', serif;
  text-decoration: none;
  font-size: 30px;
}


.front-para {
  position: absolute;
  width: 600px;
  height: 200px;
  z-index: 15;
  top: 35%;
  left: 50%;
  padding:30px;
  background-color: rgba(255,255,255,.5);
  font-size: 20px;
  color: white;
  font-family: 'RunchFont';
}

.singed-in-logo {
  width: 300px;
}

// *********** Nav Block ******************
.topNavBlock {
  background-color: #8EB77B;
  padding: 15px;
  margin-top: -20px;
  margin-left: -10px;
}


// ************** Footer **********************


.socialMediaBtn {
  width: 20px;
  height: 20px;
}

li {
  display: inline-block;
  style: none;
  margin-right: 10px;
}

.copyRight {
  float: right;
  font-family: 'RunchFont';
  color: white;
}

.FooterLoggedIn {
  flex: 1;
  background-color: #8EB77B;
  padding-left: 15px;
  padding-top: 15px;
}

.FooterLoggedOut {
  position:absolute;
  clear: both;
  bottom: 10px;
  left:0;
  right:0;
  height:10px;
  color: white;
  padding-bottom: 20px;
  font-size: 15px;
  display: inline;
  padding-left: 15px;
}

html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px;
}
.page-wrap:after {
  content: "";
  display: block;
}
footer, .page-wrap:after {
  height: 50px;
}

footer {
  ul {
    margin: 0;
    padding: 0;
  }
}

// ************** FORMS ***************

.login {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register{
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-group{
  margin-top: -10px;
}

.form-control {
  background: #f4f1ed;
  width: 500px;
  height: 40px;
  border: 0px;
  border-radius: 3px;
  text-align: center;
  font-size: 15px;
  font-family: 'RunchFont';
}

.form-button {
  background: #8EB77B;
  color: #fff;
  margin-top: 10px;
  width: 501px;
  height: 40px;
  border: 0px;
  border-radius: 3px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'RunchFont';
}

.form-button:hover {
  background-color: rgba(0,0,0,.7);
  color: #8EB77B;
  border: solid 1px #8EB77B;
}

.createHeader, .editHeader {
  text-align: center;
}

// ************* Group Create Form ***********

.new {
  position: fixed;
  top: 57%;
  left: 45%;
  transform: translate(-50%, -50%);
  }

  .edit {
    position: fixed;
    top: 57%;
    left: 45%;
    transform: translate(-50%, -50%);
  }

.form-control-create {
    width: 500px;
    height: 40px;
    border: solid 1px #8EB77B;
    border-radius: 3px;
    text-align: center;
    font-size: 15px;
    font-family: 'RunchFont';
    margin-top: 6px;
  }

  .form-button-create {
    background: #8EB77B;
    color: #fff;
    margin-top: 10px;
    width: 500px;
    height: 40px;
    border: 0px;
    border-radius: 3px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'RunchFont';
  }

  .form-button-create:hover {
    background-color: white;
    color: #8EB77B;
    border: solid 1px #8EB77B;
  }

  // button:hover {
  //   background-color: white;
  //   color: #8EB77B;
  //   border: solid 1px #8EB77B;
  // }


// ********** Group Show *******************
.groupShowCon {
  h3{
    display: inline;
  }
  p{
    display: inline;
  }
}

.map-styling {
  width: 100%;
  height: 300px;
  display: inline-block;
  background-color: rgba(124,183,123,.5);
}

.groupShowName {
  margin-bottom: -15px;
}
.groupAdminTitle {
  display: inline-block;
}
.adminUSer {
  display: inline-block;
}

// ********** Dashboard *******************

.timetable {
  width: 20%;
  text-align: center;
}

.owned-groups {
  width: 20%;
  text-align: center;
}

.dash-groups {
  width: 80%;
  text-align: center;
}

.group-item {
  width: 33.33%;
  height: 200px;
  float: left;
  position: relative;

  .hover {
    opacity: 0;
  }

  &:hover {
    .hover {
      border: 0.5px double black;
      text-align: center;
      opacity: 0.5;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: white;
      -o-transition:.7s;
      -ms-transition:.7s;
      -moz-transition:.7s;
      -webkit-transition:.7s;
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

}

.group-image {
  width: 100%;
  height: 100%;
}
